In [2]:
import pandas as pd

In [3]:
demo_df = pd.DataFrame({"숫자특성": [0,1,2,1],
                       "범주형": ["a","b","c","a"]})

In [4]:
demo_df

   숫자특성 범주형
0     0   a
1     1   b
2     2   c
3     1   a

In [5]:
pd.get_dummies(demo_df)

   숫자특성  범주형_a  범주형_b  범주형_c
0     0   True  False  False
1     1  False   True  False
2     2  False  False   True
3     1   True  False  False